---
layout: post-index
title: Projects
---

<article>
    <h1 class="section">Projects</h1>
    <div class="project-card-container">
        {% for project in site.categories.projects %}
        <!-- Repeat this block for each card -->

        <a href="{{ site.url }}{{ project.url }}" class="project-card">
            <img src="{{ project.featured-image }}" alt="Card Image">
            <div class="project-card-content">
                <a>
                    {{ project.title }}
                    <br>
                    <div style="font-size: 14px">{{ project.subtitle }}</div>
                </a>
                <div class="post-date">
                    {{ project.year }}
                    {% if project.location != "" and project.location != nil %}
                    &nbsp;|&nbsp;{{ project.location }}
                    {% endif %}
                </div>
            </div>
        </a>

        <!-- Repeat end -->
        {% endfor %}
    </div>
</article>