---
layout: default
title: "Research & Projects"
permalink: /projects/
---
<h1 class="subpage-title">{{page.title}}</h1>
<hr style="margin: 0">

<div class="catalogue">
  {% for post in site.projects reversed %}
    {% include project_item.html %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
