---
layout: default
title: "Publication List"
permalink: /publications/
---
<h1 class="subpage-title">{{page.title}}</h1>
<div class="post-line"></div>

<div class="catalogue">
  {% assign current_year = nil %}

  {% for post in site.publications reversed %}

    {%- assign publication_year = post.date | date: "%Y" -%}

    {% if current_year != publication_year %}
      {% assign current_year = publication_year %}

      <div class="col-12 p-0">
        <h4 class="year-heading mt-4 mb-1" style="font-style: italic; color: gray; ">{{ current_year }}</h4>
      </div>
      <hr style="margin: 0">
    {% endif %}

    {% assign pub_index = pub_index | plus: 1 %}
    {% include publication_item.html %}
  {% endfor %}
</div>