---
layout: post-index
title: Home
---

<article style="padding:0px;">
    <div class="grid" style="display:flex; align-items:stretch">

        <div class="col-1-2 .d-md-none">
            <div style="
            display:table-cell;
            background-color:transparent;
            float:left;
            width:100%;
            height:100%;
            background-image: url(/images/avatar.jpg);
            background-size:cover;
            background-position:center">
            </div>
        </div>

        <div class="col-1-2" style="overflow:hidden">

            <h2 class="section">
                About me
            </h2>
            Baizhou Zhang (张柏洲) is currently a Ph.D. student at
            <a href="https://archialgo.com/">Inst. AAA</a>,
            <a href="https://arch.seu.edu.cn/">School of Architecture</a>,
            <a href="https://www.seu.edu.cn/">Southeast University</a>.
            His research interests focus on computational cesign, generative design and the application of AI for architects.
            <br>
            zhangbz764@gmail.com
        </div>
    </div>
</article>

<article>

    {% for post in site.categories.software %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
    {% capture next_categories %}{{ post.previous.categories }}{% endcapture %}
    {% capture this_categories %}{{ post.categories }}{% endcapture %}

    {% if forloop.first %}
    <!--<article>-->
    <h1 class="section"><a name="software">Software &amp; Data</a></h1>
    <ul>
        {% endif %}

        <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <br>
            <div class="post-byline">
                <i>{{ post.venue }}</i> <br>
                {{ post.author }} <br>
                <div class="post-date">
                    {{ post.date | date: "%B %-d, %Y" }}
                </div>
        </li>
        <br>

        {% if forloop.last %}
    </ul>

    {% endif %}
    {% endfor %}

    {% for post in site.categories.projects %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
    {% capture next_categories %}{{ post.previous.categories }}{% endcapture %}
    {% capture this_categories %}{{ post.categories }}{% endcapture %}

    {% if forloop.first %}
    <!--<article>-->
    <h1 class="section"><a name="projects">Projects &amp; Working Papers</a></h1>
    <ul>
        {% endif %}

        <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <br>
            <div class="post-byline">
                <i>{{ post.venue }}</i> <br>
                {{ post.author }} <br>
                <div class="post-date">
                    {{ post.date | date: "%B %-d, %Y" }}
                </div>
        </li>
        <br>

        {% if forloop.last %}
    </ul>

    {% endif %}
    {% endfor %}


    {% for post in site.categories.posts %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
    {% capture next_categories %}{{ post.previous.categories }}{% endcapture %}
    {% capture this_categories %}{{ post.categories }}{% endcapture %}

    {% if forloop.first %}
    <!--<article>-->
    <h1 class="section"><a name="blog">Blog Posts</a></h1>
    <ul>
        {% endif %}

        <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <br>
            <div class="post-byline">
                {% if post.venue %}
                <i>{{ post.venue }}</i> <br>
                {% endif %}
                {{ post.author }} <br>
                <div class="post-date">
                    {{ post.date | date: "%B %-d, %Y" }}
                </div>
        </li>
        <br>

        {% if forloop.last %}
    </ul>

    {% endif %}
    {% endfor %}
</article>