---
layout: publication-index
title: Publications
---

<article>
    {% for post in site.categories.publications %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
    {% capture next_categories %}{{ post.previous.categories }}{% endcapture %}
    {% capture this_categories %}{{ post.categories }}{% endcapture %}

    {% if forloop.first %}
    <!--<article>-->
    <h1 class="section"><a name="papers">Publications</a></h1>
    <ul>
        {% endif %}

        <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}{% if post.typr=="Chinese" %}<br>
            {{post.subtitle}}{% endif %}</a>
            <br>
            <div>
                <div class="publication-source">
                    {{ post.source }}
                </div>
                <div class="publication-author">
                    {{ post.authors | join: ", " }}
                </div>
                <div class="post-date">
                    {{ publication.type }} | {{ publication.date }}
                </div>
        </li>
        <br>

        {% if forloop.last %}
    </ul>

    {% endif %}
    {% endfor %}

</article>

<!--<article>-->
<!--    {% for publication in site.categories.publications %}-->
<!--    {% capture this_year %}{{ publication.date | date: "%Y" }}{% endcapture %}-->
<!--    {% capture next_year %}{{ publication.previous.date | date: "%Y" }}{% endcapture %}-->
<!--    {% capture next_categories %}{{ publication.previous.categories }}{% endcapture %}-->
<!--    {% capture this_categories %}{{ publication.categories }}{% endcapture %}-->

<!--    {% if forloop.first %}-->
<!--    &lt;!&ndash;<article>&ndash;&gt;-->
<!--    <h1 class="section"><a name="papers">Publications</a></h1>-->
<!--    <ul>-->
<!--        {% endif %}-->

<!--        <li>-->
<!--            <a href="{{ site.url }}{{ publication.url }}" title="{{ publication.title }}">{{ publication.title }}-->
<!--                {% if publication.lang=="Chinese" %}<br>-->
<!--                {{publication.subtitle}}-->
<!--                {% endif %}-->
<!--            </a>-->
<!--            <br>-->
<!--            <div class="publication-source">-->
<!--                {{ publication.source }}-->
<!--            </div>-->
<!--            <div class="publication-author">-->
<!--&lt;!&ndash;                {% for name in publication.authors %}&ndash;&gt;-->
<!--&lt;!&ndash;                    {% if name=="Baizhou Zhang" %}&ndash;&gt;-->
<!--&lt;!&ndash;                    <b>{{ name }}, </b>&ndash;&gt;-->
<!--&lt;!&ndash;                    {%- else -%}&ndash;&gt;-->
<!--&lt;!&ndash;                    {{ name }}&ndash;&gt;-->
<!--&lt;!&ndash;                    {% endif %}&ndash;&gt;-->
<!--&lt;!&ndash;                {% endfor %}&ndash;&gt;-->
<!--                {{ publication.authors | join: ", " }}-->
<!--            </div>-->
<!--            <div class="post-date">-->
<!--                {{ publication.type }} | {{ publication.date }}-->
<!--            </div>-->
<!--        </li>-->
<!--    </ul>-->

<!--    {% endif %}-->
<!--    {% endfor %}-->

<!--</article>-->
