---
layout: post-index
title: Publications
---

<article>
    <h1 class="section">Publications</h1>


    {% for publication in site.categories.publications %}
    <ul>
        <li>
            <a href="{{ site.url }}{{ publication.url }}" title="{{ publication.title }}">
                {{ publication.title }}
                {% if publication.lang=="Chinese" %}
                <br>{{ publication.subtitle }}
                {% endif %}
            </a>
            <br>
            <div class="publication-source">
                {{ publication.source }}
            </div>
            <div class="publication-author">
                {% for name in publication.authors %}
                {% if name=="Baizhou Zhang" %}
                <b>{{ name }} </b>
                {%- else -%}
                {{ name }}
                {% endif %}

                {% if !forloop.last %}
                ,&nbsp;
                {% endif %}
                {% endfor %}
                <!--                {{ publication.authors | join: ", " }}-->
            </div>
            <div class="post-date">
                {{ publication.type }} | {{ publication.publish }}
            </div>
        </li>
    </ul>
    {% endfor %}


</article>
