---
layout: publication-index
title: Publications
---

<!--<article style="padding:25px 50px; text-align:center">-->
<article>
    {% for publication in site.categories.publications %}
    {% capture this_year %}{{ publication.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ publication.previous.date | date: "%Y" }}{% endcapture %}
    {% capture next_categories %}{{ publication.previous.categories }}{% endcapture %}
    {% capture this_categories %}{{ publication.categories }}{% endcapture %}

    {% if forloop.first %}
    <!--<article>-->
    <h1 class="section"><a name="papers">Publications</a></h1>
    <ul>
        {% endif %}

        <li>
            <a href="{{ site.url }}{{ publication.url }}" title="{{ publication.title }}">{{ publication.title }}
                {% if publication.lang=="Chinese" %}<br>
                {{publication.subtitle}}
                {% endif %}
            </a>
            <br>
            <div class="publication-source">
                {{ publication.source }}
            </div>
            <div class="publication-author">
                {% for name in publication.authors %}
                    {% if name=="Baizhou Zhang" %}
                    <b>{{ name }}, </b>
                    {%- else -%}
                    {{ name }}
                    {% endif %}
                {% endfor %}
<!--                {{ publication.authors | join: ", " }}-->
            </div>
            <div class="post-date">
                {{ publication.type }} | {{ publication.date }}
            </div>
        </li>
    </ul>

    {% endif %}
    {% endfor %}

</article>
