
    <!-- HEADER IMAGE -->
    <!-- <center>
        <span class="main-header-image">
            <a href="/"><img src="/images/header/clean-and-simple-header.jpg"></a>
        </span>
    </center> -->
    
    <br>
    <center>
        <span class="main-header-image">
            <h1 style="font-kerning:normal"><a href="/">{{ site.title }}</a></h1>
        </span>
    </center>
    <!-- NAVIGATION -->
    <center>
        <ul class="navigation-bar">
            <li><a href="/">HOME</a></li>
            <li><a href="/publications/index.html">PUBLICATION</a></li>
            <li><a href="/projects/index.html">RESEARCH & PROJECT</a></li>
            <li><a href="/about.html">ABOUT & CONTACT</a></li>
        </ul>
    </center> 