.catalogue {
  &-item {
    //border-bottom: 1px solid $grey-2;
    color: $default-color;
    display: block;
    padding: 0.6rem 0 1rem 0;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 100%;
      border-color: $primary;
    }

    &:hover .catalogue-title,
    &:focus .catalogue-title {
      color: $primary;
    }
  }

  &-pinned {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: .5px;
  }

  &-time {
    color: $default-tint;
    font-family: $sans-serif;
    font-size: 0.8rem;
    letter-spacing: .5px;
    font-style: italic;
  }

  &-title {
    @include transition(all .3s ease-out);
    color: $default-shade;
    display: block;
    font-family: $sans-serif!important;
    font-size: 1.3rem;
    font-weight: 700;
    margin: .5rem 0;
  }

  &-subtitle {
    color: $grey-1;
    display: block;
    font-family: $sans-serif!important;
    font-size: 1rem;
    margin: .5rem 0;
  }

  &-info {
    color: $default-tint;
    display: block;
    font-family: $sans-serif!important;
    font-size: 0.8rem;
    margin: 0;
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .15rem solid $default-tint;
    display: block;
    width: 0rem;
    margin-top: 0.7em;
    margin-left: 0.8em;
  }

  a {
    text-decoration: none !important;
  }
}
