---
layout: default
---

{% assign acti_count = site.activities | size %}
{% assign acti_index = 0 %}
{% for acti in site.activities reversed %}
  {% assign acti_index = acti_index | plus: 1 %}
  {% if acti.url == page.url %}
  {% break %}
  {% endif %}
{% endfor %}

<div class="pagination">
  {% if page.next.url %}
  <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">
    <i class="fas fa-arrow-left"></i>
  </a>
  {% endif %}

  <div class="arrow">
    {{acti_index}} of {{acti_count}}
  </div>

  {% if page.previous.url %}
  <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">
    <i class="fas fa-arrow-right"></i>
  </a>
  {% endif %}
</div>

<div class="publication">


  <h1 class="publication-title">{{ page.title }}</h1>
  <h2 class="publication-subtitle">{{ page.subtitle }}</h2>



  {% if page.team and page.team != "" %}
    <div class="publication-info m-0">
      Team: {{ page.team | join: ", " }}
    </div>
  {% endif %}


  {% if page.location and page.location != "" %}
    <div class="publication-info">
      Location: {{ page.location }}
    </div>
  {% endif %}

  <div class="publication-info">
    Date: {{ page.date | date: "%B %d, %Y" }}
  </div>

  <br>

  {{ content }}
</div>

