---
layout: default

image: https://zbz-personal-1325539134.cos.ap-shanghai.myqcloud.com/image/zbz-avatar.jpg
---

<div class="row justify-content-center align-items-center p-2 pb-4">
    <div class="col-6 col-lg-4 col-md-4 text-center mt-4">

        <!-- Fine Circle Responsive Image -->
        <div id="container" class="my-2">
            <div id="dummy"></div>
            <div id="element">
                <img src="{{ image }}" data-wow-delay=".1s">
            </div>
        </div>


        <h4 class="pt-2" data-wow-delay=".15s" style="font-weight: bold">Baizhou Zhang</h4>
        <h5 data-wow-delay=".2s" style="font-weight: bold">张柏洲</h5>
        <a href="mailto:zhang_baizhou@seu.edu.cn" style="font-size: small">
            zhang_baizhou@seu.edu.cn
        </a>
        <a href="mailto:zhangbz764@gmail.com" style="font-size: small">
            zhangbz764@gmail.com
        </a>
        <div class="mt-2" style="display: flex; justify-content: space-evenly; font-size: 1.5rem">
            <a href="https://www.researchgate.net/profile/Baizhou-Zhang" target="_blank">
                <i class="fab fa-researchgate fa-lg"></i>
            </a>
            <a href="https://www.linkedin.com/in/%E6%9F%8F%E6%B4%B2-%E5%BC%A0-331255323/" target="_blank">
                <i class="fab fa-linkedin fa-lg"></i>
            </a>
            <a href="https://github.com/zhangbz764" target="_blank">
                <i class="fab fa-github fa-lg"></i>
            </a>
            <a href="https://orcid.org/0000-0003-3153-2264" target="_blank">
                <i class="fab fa-orcid fa-lg"></i>
            </a>
            <a href="assets/qrcode_wechat.jpg" target="_blank">
                <i class="fab fa-weixin fa-lg"></i>
            </a>
        </div>
    </div>
</div>

<p>
    Welcome to my academic blog!
</p>
<p>
    My name is Baizhou Zhang (张柏洲), and I am currently a PhD candidate at
    <a href="https://archialgo.com/" target="_blank">Inst. AAA</a>,
    <a href="https://www.seu.edu.cn/" target="_blank">Southeast University</a>. My research focuses on generative design, parametric design and application of AI in architecture.
</p>

<p>
    I received my Bachelor's degree in Architecture from
    <a href="https://arch.seu.edu.cn/" target="_blank">School of Architecture</a>, Southeast University.
    Then I was enrolled in a direct PhD program at Southeast University, where I completed the coursework and research requirements for a Master's degree but transitioned directly into the PhD phase to further my studies.
</p>

<p>
    Served as a reviewer for CAADRIA. Honored with the Young CAADRIA Award and received funding twice from the Postgraduate Research & Practice Innovation Program of Jiangsu Province.
</p>