<!doctype html>

<head>
<!--    {% include head.html %}-->
    {% include navigation.html %}
</head>

<!-- BODY -->
<body id="post-index">
{% include browser-upgrade.html %}

<div id="main" role="main">
    <article>

<!--        <div class="featured-image">-->
<!--            {% if page.featured-image == "" or page.featured-image == nil %}-->
<!--            <img src="/images/default-header.png"-->
<!--                 style="width:100%; object-fit: cover; object-position: center center;"-->
<!--            >-->
<!--            {% else %}-->
<!--            <img src="{{ page.featured-image }}" style="width:100%">-->
<!--            {% endif %}-->
<!--        </div>-->

        <div class="project-featured-image">
            {% if page.featured-image == "" or page.featured-image == nil %}
            <img src="/images/default-header.png">
            {% else %}
            <img src="{{ page.featured-image }}">
            {% endif %}
        </div>

        <!-- MAIN -->
        <br>
        <h1 class="entry-title">
            {{ page.title }}
        </h1>
        {% if page.subtitle %}
        <h3 class="entry-subtitle">
            {{ page.subtitle }}
        </h3>
        {% endif %}

        <!-- POST BYLINE -->
        <div class="post-byline">
            <!-- TEAM -->
            Team: {{ page.team | join: ", " }} <br>

            <!-- RELATED PUBLICATIONS -->
            {% if page.related-pub != "" and page.related-pub != nil %}
            Related Papers:&nbsp;
            {% for rel in page.related-pub %}
            {% assign pub = site.categories.publications | where: 'title', rel | first %}
            <a href="{{ pub.url }}">
                {{ pub.date | date:"%Y-%m-%d" }}
            </a>
            &nbsp;
            {% endfor %}
            {% endif %}

            <!-- RELATED PROJECTS -->
            {% if page.related-proj != "" and page.related-proj != nil %}
            Related Projects:&nbsp;
            {% for rel in page.related-proj %}
            {% assign proj = site.categories.projects | where: 'title', rel | first %}
            <a href="{{ proj.url }}">
                {{ proj.date | date:"%Y-%m-%d" }}
            </a>
            &nbsp;
            {% endfor %}
            {% endif %}
        </div>
        <br>

        <!-- POST DATE -->
        <div class="post-date">
            {{ page.year }}
            {% if page.location != "" and page.location != nil %}
            &nbsp;|&nbsp;{{ page.location }}
            {% endif %}
        </div>

        <hr>

        <!-- POST CONTENT -->
        <div class="entry-content">
            {{ page.content }}
        </div>

        <!--- DIVIDING LINE -->
        <hr>

        <!-- POST TAGS -->
        <div class="inline-tags">
                <span>
                    {% for tag in page.tags %}
                        <a href="/tags/#{{tag}}">#{{ tag }}&nbsp;&nbsp;&nbsp;</a>
                    {% endfor %}
                </span>
        </div>

        <br>

    </article>
</div>
</body>

<!-- FOOTER -->
<footer>
    <div class="footer-wrapper">
        <footer role="contentinfo">
            {% include footer.html %}
        </footer>
    </div>
</footer>
</html>
