---
layout: post-index
title: Publications
---
<article>
    <h1 class="entry-title">
        <a>{{ page.title }}</a>
    </h1>
    <hr>
</article>

<h1 class="section">Papers</h1>

{% for publication in site.publications %}

{% capture this_year %}{{ publication.date | date: "%Y" }}{% endcapture %}

<ul>
    <li>
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ publication.title }}
            {% if publication.subtitle %}:
            {{publication.subtitle}}
            {% endif %}
        </a>
        <br>
        <div class="post-byline">
            <br>
            {{ publication.authors | join: ", " }}
            <br>
            <div class="post-date">
                {{ publication.date }} | {{ publication.paper_type }}
            </div>
        </div>
    </li>
    <br>
</ul>

{% endfor %}